<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>GALERIA Kaufhof technology blog {%if page.title %}| {{ page.title }}{%endif%}</title>
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <meta name="author" content="{{ site.author.name }}" />

  <!-- Enable responsive viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Custom styles -->
  <link href="{{ "/assets/css/main.css" | relative_url }}" rel="stylesheet" type="text/css" media="all" />
  <!-- <link href="{{ "/assets/highlight.css" | relative_url }}" rel="stylesheet" type="text/css" media="all" /> -->

  <!-- Fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

  <!-- atom & rss feed -->
  <!-- <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed" /> -->
  <!-- <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed" /> -->

  <script src="{{ "/assets/vendor/rellax.min.js" | relative_url }}"></script>
</head>