<nav class="gk-header gk-cols gk-cols-2">
  <div class="gk-wrapper">
    <div class="gk-col">
      <a class="gk-header__logo" href="{{ "/" | relative_url }}"><span>{{ site.title }}</span></a>
    </div>
    <div class="gk-col">
      <ul class="gk-header__navigation">
        <!--<li><a href="#search" class="gk-icon gk-icon--search"><span>search</span></a></li>-->
        <li class="gk-header__navigation-item"><a href="https://github.com/Galeria-Kaufhof" class="gk-icon gk-icon--github"><span>github</span></a></li>
        <li class="gk-header__navigation-item"><a href="#menu" class="gk-icon gk-icon--menu"><span>menu</span></a></li>
      </ul>
    </div>
  </div>
</nav>
