.gk-post-preview {
  border-bottom: 1px dashed $borderColor;
  padding-bottom: 20px;
  padding-left: 25px;
  margin-bottom: 20px;

  &__header {
    margin-bottom: .25em;
  }
  &__title {
    display: block;
    font-size: $headlineFontSize;
    position: relative;
    //left: 25px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 12px;
      height: 10px;
      left: -25px;
      top: 10px;
      background-size: cover;
      @extend .gk-polygon--dark;
    }
  }
  &__author {
    text-decoration: underline;
  }
  &__meta {
    font-size: $metaFontSize;
  }
}